.autonomy {
  .dih {
    table.table {
      float: left;
      margin-left: 5px;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }

  .data-gap {
    .control {
      .row {
        padding: 10px 0;
      }
    }
  }
}