$lineColor: #dedede;
$bgGray: #efefef;
$gap10: 10px;
$gap20: 20px;

@for $i from 1 through 10 {
  .width-#{$i * 50} {
    width: $i * 50px;
  }
}

@for $i from 1 through 20 {
  .top-#{$i * 5} {
    margin-top: $i * 5px;
  }
}

@for $i from 1 through 5 {
  .left-#{$i * 10} {
    margin-left: $i * 10px;
  }
}

* {
  font-size: 100%;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.fold {
  cursor: pointer;
}

table.table {
  min-width: 200px;
  border: 1px solid $lineColor;
  border-collapse: collapse;

  td, th {
    padding: 5px;
    border: 1px solid $lineColor;
  }
}

.bottom-btn-wrap {
  margin-top: 10px;
}

.tips {
  color: #cacaca;
  font-size: 0.85em;
}

.loading {
  position: fixed;
  width: 100px;
  padding: 5px 10px;
  top: 0;
  left: 45%;
  background-color: yellow;
  border-radius: 3px;
}

#app {
  padding: 20px;
}

.container {
  display: flex;
  .nav {
    flex: 0 160px;
    line-height: 1.5em;
    padding: $gap10;
    background-color: $bgGray;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        ul.sub {
          margin-left: 10px;
        }
      }
    }
  }
  .playground {
    flex: 1;
    margin-left: $gap20;
  }
}

@import "hyperlink";

@import "autonomy";
